.grid {
	display: grid;
	grid-template: 200px 3fr / 1fr 4fr;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2px;
	text-align: center;
	grid-column: 1 / span 2;
	background-color: #2A61B3;
	color: #FFFFFF;
	border-radius: 5px;
}

#header h2 {
	font-size: 20px;
}

#header p {
	border: 5px black;
}

#sidebar {
	background-color: rgba(214, 196, 196, 0.4);
	border-radius: 5px;
}

#sidebar h2 {
	
}

#sidebar hr {
	display: block;
	height: 1px;
	border-color: #000000;
	background-color: #000000;
	color: #000000;
	width: 75%
}

#sidebar img {
	padding-right: 10px;
	vertical-align: center;
}

#sidebar img.myimg {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	padding: 20px;
}

#main-content {
	padding-left: 20px;
	padding-right: 20px;
}

#entry {
	display: grid;
	grid-template: 1fr / 1fr 3fr;
}

#main-content p {
	grid-column: 2;
	text-align: justify;
}

#main-content .date {
	display: block;
}

#main-content .description {
	display: block;
}

#main-content hr {
	display: block;
	height: 1px;
	border-color: light-gray;
	background-color: light-gray;
	color: light-gray;
	width: 75%
}